
<div class="banner hide-sm">
  <img class="hidden-lg hidden-sm  hidden-xs" src="https://www.suzlon.com/images/career/job-opportunities.jpg" alt="About Banner" width="100%">
<div class="col-xs-12 job-opportunities-header header-height hidden-sm hidden-md ">

</div>

</div>

<br>
<div class="container">
<div class="job-details responsive-padding job col-xs-12">
<div class="">

<div class="cost_controller col-xs-12 col-lg-6 col-sm-6 col-md-6 carSubDet np">
<h2 class="head-blue"><b>Job Opportunities</b></h2>
<h3>Qualification:</h3>
<h4>BE/BTech/ME/MTech/MCA in CS/EE or an equivalent qualification</h4>

<br>

<p><h3>Experience:1-2 years</h3>
<h3>Expections:</h3>
<p> Good understanding of data structure, Algorithms.</p>

<p>Good knowledge of JAVA/J2EE, SQL/NoSQL, MongoDB, MySQL, Spring, Springboot, REST APIs, </p>

  <p> Junit, Hibernate, JDBC, Multithreading, collections </p>

  <p>   Experience in troubleshooting, debugging.</p>

<p> Partcipate in code reviews, code quality, coding practices </p>

  <p> Worked with tools such as Eclipse, IntelliJ, Mavel, Jenkins, Sbt, CI/CD </p>

    <p>Worked with Git and are comfortable with Merge/Rebase concepts </p>

      <p> Mentoring junior team members </p>

        <p> 100% coding hands-on </p>

          <p> Open to learn new technologies, POCs & coding</p>

</div>



<div class="col-xs-12 col-sm-6 col-md-6 col-sm-6 np">
<h2 class="head-blue text-center"><b>Apply Now</b></h2>
<div class="send-query-section ">
<div class="  ">

<div class="error_msg" tabindex="1"></div>
<div class="query-title">
       
</div>
</div>



<div class=" ">
<form class="form-horizontal " name="frm" id="frm" method="post" action="" enctype="multipart/form-data" novalidate="novalidate">
  <div class="form-center col-xs-12 contact-form">
  <div class="col-md-6">
  <input type="hidden" name="job_id" id="job_id" value="159">
    <div class="form-group required">
      <label for="name">Name</label>
      <input type ="text" 
                  id="firstname" 
                  class="form-control"
                  ngModel name="firstname"
                  required
                  firstname
                  #firstname="ngModel">
                  <span class="help" *ngIf="!firstname.valid && firstname.touched">Enter a Fullname!</span>
    </div>
    
    <div class="form-group required">
      <label for="mobile">Mobile Number</label>
      <input type="text" class="form-control" name="mobile" maxlength="15" id="mobile" placeholder="">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Vacancy</label>
      <input type="test" readonly="" class="form-control" name="vacancy" value="Software Engineer" id="exampleInputEmail1" placeholder="">
    </div>
              </div>
  <div class="col-md-6 ">
    <div class="form-group  required">
      <label for="exampleInputEmail1">Email</label>
      <input type ="text" 
                  id="email" 
                  class="form-control"
                  ngModel name="email"
                  required
                  email
                  #email="ngModel">
                  <span class="help" *ngIf="!email.valid && email.touched">Enter a Valid e-mail Address!</span>
    </div>
    <div class="form-group  required">
      <label for="textArea">Message</label>
      <textarea class="form-control" rows="6" name="message" id="textArea"></textarea>
      <p class="light-text">(Message field accepts maximum 1000 characters.)</p>
    </div>
    </div>

    


<div class="col-md-6">
<input type="file" class="form-control" id="myFile"name="file" accept=".xlsx,.xls,.doc, .docx,.ppt, .pptx,.txt,.pdf" required>
</div>



    <div class="col-xs-12"><div class=" ">
      <div class="form-group">
        <label class="checkbox-inline">
          <p class="form-field  Opted_In pd-checkbox   no-label  ">
                    
            <span class="value"><span>
                <input type="checkbox" name="iagree" id="agree" value="862474" onchange="">
                <label class="inline" for="agree">I accept the <a href="#" class="term">terms and conditions</a>
                    and <a href="#" class="term">privacy policy</a></label>
            </span></span>
        </label><br>
        <label id="agree-error" class="error" for="agree"></label>
      </div>
      </div>
    </div>
 
    
  <div class="col-xs-12 t1">
        <div class="form-group">
          <button type="button" name="submitcareer" id="submitcareer" class="btn btn-green-bg">Submit</button>
        </div>
      </div>
    </div>
</form>
</div>
</div>
</div>

</div>
</div></div>
