
<!DOCTYPE html>
<html>
    <head>
        <title>About Us Section</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releasaes/v5.10.0/css/all.css">
        </head>
        <body>
          
            <div class="section">
                 <div class="container">
                    
                    <div class="content-section">
                         <div class="content">
                        <h3>Supply Chain Management</h3>
                        <p>
                            Any development or testing services you need in SCM domain, we have right engineers to pitch-in.
                        </p>
                    </div>
                    </div>
                    <div class="image-section">
                        <img src="assets/img/about1.jpg">
                    </div>
                
            </div>
            </div>
          

            <div class="c">
                <div class="Services">
                      <h2>All Services</h2>
                </div>
                
                <div class="ServicesContainer">
                      <div class="col-md-12">
                <div class="ServicesImages">
                      <img src="assets/img/about1.jpg"><br>
                      <a routerLink="/supply"><p>Supply Chain Management</p></a>
                </div>
                
                <div class="ServicesImages">
                      <img src="assets/img/about2.jpg"><br>
                      <a routerLink="/product"><p>Product Development</p></a>
                
                </div>
                
                <div class="ServicesImages">
                      <img src="assets/img/about.jpg"><br>
                      <a routerLink="/web"><p>Web Development</p></a>
                
                </div>
                
                <div class="ServicesImages">
                      <img src="assets/img/about2.jpg"><br>
                      <a routerLink="/poc"><p>POC As A Services</p></a>
                
                </div>
                
                <div class="ServicesImages">
                      <img src="assets/img/about1.jpg"><br>
                      <a routerLink="/qa"><p>QA Services</p></a>
                
                </div>
                
                <div class="ServicesImages">
                      <img src="assets/img/about.jpg"><br>
                      <a routerLink="/software"><p>Software Integration</p></a>
                </div>
                </div>
                </div>
                </div>
                
            </body>
    
</html>  
