<div class="section">
    <div class="row">
        <div class="col">
        <h1>Supply chain management</h1>
    <button routerLink="/supply" class="button">Read More</button>
        </div>
    </div>
</div>
<div class="section c1">
    <div class="co1">
    <div class="row">
        <div class="col">
        <h1>Our Mission</h1>
    <button routerLink="/about" class="button">Read More</button>
        </div>
    </div>
</div>
</div>
<div class="section c2">
    <div class="row">
        <div class="col">
        <h1>Product Development</h1>
    <button routerLink="/product" class="button">Read More</button>
        </div>
    </div>
</div>