
<!DOCTYPE html>
<html>
    <head>
        <title>About Us Section</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releasaes/v5.10.0/css/all.css">
        </head>
        <body>
            
            <div class="section">
                 <div class="container">
                   
                    <div class="content-section">
                         <div class="content">
                        <h3>Our Mission</h3>
                        <p>
                           With a mission to connect the talent pool of rural India to the upstream IT giants, V2W is affirmative of the fact that it would solve modern world problems more effectively.<br>
                            An Ecosystem like this will have a combination of professional software engineers and freshers from the rural universities who have a zeal to make a mark but lack the opportunities. This way we’ll have access to the best of talent we have in our villages that has been inaccessible so far.</p>
                        
                    </div>
                    </div>
                    <div class="image-section">
                        <img src="assets/img/about1.jpg">
                    </div>
                
            </div>
            </div>
          
         
            <div class="section1">
                <div  class="container c">
                   
                   <div class="content-section1">
                        <div class="content">
                       <h3>What We Do</h3>
                       <p>
                        V2W hires the educated youths who have a right attitude to learn, makes them industry ready by
                        working on their communication &amp; technical skills and deploying them at its client projects.<br>
                        Going away from home to earn a living has been an age-old practice but not anymore, thanks to
                        COVID’19.<br>
                        We groom the young talents at their native places only, they can connect and contribute remotely
                        and be the part of the solution not the problem.
                        </p>
                       
                   </div>
                   </div>
                   <div class="image-section1">
                       <img src="assets/img/about2.jpg">
                   </div>
               
           </div>
           </div>

           <div class="section2">
            <div class="container c1">
               <div class="content-section2">
                    <div class="content">
                   <h3>A Better World</h3>
                   <p>
                    When we have more of the organizations &amp; corporations supporting this initiative or adapt the
                    same model, we collectively can solve world&#39;s most common problems listed below-  <br><br></p>
                   </div>
               </div>
               
                
                    <owl-carousel-o [options]="customOptions">
                      <ng-template carouselSlide>
                        <div class="card card1">
                          <img src="assets/img/about1.jpg">
                          <div class="container">
                            <h4><b>Skill Gap</b></h4>
                            <p>We fill the skill gap that exists in our freshers and the working professionals.<br><br><br><br></p>
                           
                          </div>
                        </div>
                      </ng-template>  
                      <ng-template carouselSlide>
                        <div class="card card2">
                          <img src="assets/img/about1.jpg">
                          <div class="container">
                            <h4><b>Talent Crunch faced by Startups</b></h4>
                            <p>In the process of bootstrapping startups, getting the right talent within the budget is the major obstacle faced by self-funded startups to bring their vision to reality.</p>
                            
                          </div>
                        </div>
                      </ng-template>  
                      <ng-template carouselSlide>
                        <div class="card card3">
                          <img src="assets/img/about1.jpg">
                          <div class="container">
                            <h4><b>Attrition</b></h4>
                            <p>When the business world adopts/supports this model, we can solve Attrition faced by most of the businesses.<br><br></p>
                            </div>
                        </div>
                      </ng-template>  
                      <ng-template carouselSlide>
                        <div class="card card4">
                          <img src="assets/img/about1.jpg">
                          <div class="container">
                            <h4><b>Pollution</b></h4>
                            <p>Our employees travel very less as they work remotely thereby reducing Carbon footprint. We take pride in saying, we go green.<br><br></p>
                            </div>
                        </div>
                      </ng-template>  
                      <ng-template carouselSlide>
                        <div class="card card5">
                          <img src="assets/img/about1.jpg">
                          <div class="container">
                            <h4><b>Democracy</b></h4>
                            <p>The world needs strong democracy; we believe when our educated youths stay in their villages, they strengthen our democracy.</p>
                            </div>
                        </div>
                      </ng-template>  
                      <ng-template carouselSlide>
                        <div class="card card6">
                          <img src="assets/img/about1.jpg">
                          <div class="container">
                            <h4><b>Agriculture</b></h4>
                            <p>We do have employees who have an agricultural family background and at same time working in the latest Technologies and Applications.<br></p>
                          </div>
                        </div>
                      </ng-template> 
                      <ng-template carouselSlide>
                        <div class="card card7">
                          <img src="assets/img/about1.jpg">
                          <div class="container">
                            <h4><b>Culture</b></h4>
                            <p>When our employees stay and work from their villages, they’re rooted to their family and culture that helps them come out as a better human being.<br><br></p>
                           </div>
                        </div>
                      </ng-template> 
                      <ng-template carouselSlide>
                        <div class="card card8">
                          <img src="assets/img/about1.jpg">
                          <div class="container">
                            <h4><b>Economy</b></h4>
                            <p>When the young educated minds stay at their native places, they help strengthen and contribute to the local economy, hence generating newer jobs.<br><br></p>
                            </div>
                        </div>
                      </ng-template>  
                    </owl-carousel-o>
                  </div>
       </div>  
       
 </body>
</html>
<app-contactus></app-contactus>
