.home-nav {
    width: max-content;
}
.nav-item a{
    font-size: 16px;
    font-weight: bold;
    color: #071d49;
    font-family: "AvenirLTStd-Book","Arial",sans-serif;
 }
 
  .nav-item a:hover{
     color: rgb(250, 11, 11);
 }
.logo-nav {
    width: 3%;
	height: 3%;
}
.dropdown1{
    display:none;
}
.navbar{
    overflow: hidden;
    position: fixed;
    width:100%;
   
}

@media (max-width: 400px) {
    .navbar{
        overflow: hidden;
        position: fixed;
        width:100%;
       
    }
    .logo-nav {
        margin-left: 64px;
        width: 10%;
        height: 10%;
    }
    .dropdown1{
    position: absolute;
    top: -4rem;
    left: 16rem;
    display: block;
    width: 46px;
    height: 44px;
    background-image: url(/assets/img/mobile.png);
    background-repeat: no-repeat;
    background-size: 38% auto;
    background-position: 20px 0;
    }
    .ad{
        font-weight: bold;
        color: #071d49;
    }
   
}