
<div class="container">
  <div class="Services">
       
  </div>
  
  <div class="ServicesContainer">
        <div class="col-md-12">
  <div class="ServicesImages">
        <img src="assets/img/about1.jpg"><br>
        <a routerLink="/supply"><p>Supply Chain Management</p></a>
  </div>
  
  <div class="ServicesImages">
        <img src="assets/img/about2.jpg"><br>
        <a routerLink="/product"><p>Product Development</p></a>
  
  </div>
  
  <div class="ServicesImages">
        <img src="assets/img/about.jpg"><br>
        <a routerLink="/web"><p>Web Development</p></a>
  
  </div>
  
  <div class="ServicesImages">
        <img src="assets/img/about2.jpg"><br>
        <a routerLink="/poc"><p>POC Us A Services</p></a>
  
  </div>
  
  <div class="ServicesImages">
        <img src="assets/img/about1.jpg"><br>
        <a routerLink="/qa"><p>QA Services</p></a>
  
  </div>
  
  <div class="ServicesImages">
        <img src="assets/img/about.jpg"><br>
        <a routerLink="/software"><p>Software Integration</p></a>
  </div>
  </div>
  </div>
  </div>
  <app-contactus></app-contactus>