*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "AvenirLTStd-Book","Arial",sans-serif;
}
.section{
width: 100%;
min-height: 60vh;
}
.container{
    width: 80%;
display: block;
margin: auto;
padding-top: 30px;
   }
   .c{
    width: 80%;
display: block;
margin: auto;
padding-top: 30px;
   }
   .content-section{
       float: left;
       width: 55%;
       margin-top: 40px;
   }
   .image-section{
    float:right;
    width: 40%;
    height: 0%;
    margin-top: 50px;
}
   
   .image-section img{
       width: 100%;
       height:100%
   }
   .content-section .content h3{
       margin-top: 0px;
       font-weight: bold;
       font-size: 16px;
       color: #071d49;
       font-family: "AvenirLTStd-Book","Arial",sans-serif;
       text-transform: uppercase;
   }

   .content-section .content p{
       margin-top: 10px;
       font-size: 16px;
       color: #071d49;
       font-family: "AvenirLTStd-Book","Arial",sans-serif;
       line-height: 1.5;
   }
   .Services{
    width: 100%;
    float: center;
    min-height: 10vh;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}
.Services h2{
    margin-top: 0px;
       font-weight: bold;
       font-size: 16px;
       color: #071d49;
       font-family: "AvenirLTStd-Book","Arial",sans-serif;
       text-transform: uppercase;
}
 
.ServicesContainer{
    clear: both;
    float: left;
    width: 100%;
    bottom: 10%;
    margin-left: -15px;
    margin-right: -15px;
}
.ServicesImages{
  
    width: 16%;
    height: 0%;
    min-height: 35vh;
    position: relative;
    padding-right: 15px;
    padding-left: 32px;
    float: left;
    
}
.ServicesImages a{
    text-align: center;
    font-size: 16px;
    color: #071d49;
    font-family: "AvenirLTStd-Book","Arial",sans-serif;
    text-decoration: none;
}
   .ServicesImages img{
       width: 100%;
       height:100%
   }
   

@media screen and (max-width:768px) {
    .container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 100px;
    }
    .c{
     width: 80%;
     display: block;
     margin: auto;
    
     padding-top: 50px;
 }
    .section{
        min-height: 10vh;
    }
   .content-section{
       float: none;
       width: 100%;
       display: block;
       margin: auto;
   }
   .image-section{
       float: none;
       width: 100%;
       display: block;
       margin: auto;
   }
  
   
   .content-section .title{
       text-align: center;
       font-size: 19px;
   }
   .content-section .content .button{

   text-align: center;
   margin-bottom: 10%;
   }
   .Services{
    float: none;
       width: 100%;
       display: block;
       margin: auto;
       min-height: 8vh;
       text-align: center;
    }
.ServicesImages{
       float: none;
       width: 100%;
       display: block;
       margin: auto;
}
.ServicesContainer{
    min-height: 220vh;

}
}